.a-nav{
	display: inline-block;
	text-align: center!important;
	width: 100%;
	padding: 15px;
	background-color: $rojo;
	margin: 0;
}
.a-nav__item{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 15px;
	padding-right: 50px;
	color: $blanco;
	i{
		padding-right: 10px;
	}
	img{
		position: absolute;
		border-radius: 70px;
		border: 5px solid $blanco;
		width: 40px;
		height: 40px;
		top: 5px;
		left: 300px;
	}
}
.a-nav__item__link{
	color: $blanco;
	text-decoration: none;
	&:hover{
		background-color: $azul;
		border-radius: 14px;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.contenido{
	background-color: $azul;
	height: 100vh;
	padding-top: 50px;
	margin-bottom: -170px;
	.contenido__texto{
		width: 50%;
	    margin: 50px auto;
	    border-radius: 10px;
	    padding: 0px;
	    box-sizing: border-box;
	    margin-right: 0px;
	    margin-top: -200px;
	    h2{
	    	color: $verde;
	    }
	    h3{
	    	color: $blanco;
	    }
	    p{
	    	color: $blanco;
	    	margin-right: 220px;
	    }
	    button{
	    	background-color: $verde;
	    	color: $blanco;
	    	padding: 10px;
	    	padding-left: 20px;
	    	padding-right: 20px;
	    	border-radius: 12px;
	    	border: none;
	    	cursor: pointer;
	    	i{
	    		padding-right: 20px;
	    	}
	    }
	}
	.contenido__imagen{
		width: 200px;
		height: 200px;
		margin-left: 400px;
		background-color: $blanco;
		border-radius: 50%;
		h1{
			margin: 0;
			color: $azul;
			padding-left: 55px;
			padding-top: 70px;
			font-size: 40px;
		}
	}
	.redes{
		text-align: center;
		i{
			color: $blanco;
			margin: 5px;
			cursor: pointer;
		}
		.fa-facebook{
			background-color: $facebook;
			padding: 5px 9px;
		}
		.fa-twitter{
			background-color: $twitter;
			padding: 5px 5px;
		}
		.fa-google-plus{
			background-color: $google;
			padding: 5px 3px;
		}
		.fa-pinterest{
			background-color: $pinterest;
			padding: 5px 6px;
		}
		.fa-stumbleupon{
			background-color: $stumbleupon;
			padding: 5px 5px;
		}
		.fa-dribbble{
			background-color: $dribbble;
			padding: 5px 7px;
		}

	}
}

/*CSS SUSCRIPCION-TOMADO DESDE WEB*/

#sidebar-subscribe-box{
  background:url(https://1.bp.blogspot.com/-IyEBRR8yOQQ/UBhYdBd23PI/AAAAAAAAFTU/aeW3JdAlrCs/s1600/colored-strip.png) repeat scroll 0 0 transparent;
  border:1px 
  solid #aaa;border-radius:3px;
  padding:3px 0
}

.sidebar-subscribe-box-wrapper{
  background-color: $blanco;
  color:#111;
  font-size:14px;
  line-height:20px;
  padding:1px 20px 10px;
  text-align:center;
  text-transform:uppercase
}

.sidebar-subscribe-box-form{
  clear:both;
  display:block;
  margin:10px 0
}

form.sidebar-subscribe-box-form{
  clear:both;
  display:block;
  margin:10px 0 0;
  width:auto
}

.sidebar-subscribe-box-email-field{
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#fff url(https://1.bp.blogspot.com/-JMYdQsIa9WQ/UDZqxqqrTEI/AAAAAAAAFho/AocEv70U8K8/s1600/sprites.png) no-repeat 0 -27px;
  border:1px solid #ccc;
  border-radius:4px;
  color:#444;margin:0 0 15px;
  padding:10px 40px;
  width:68%
}

.sidebar-subscribe-box-email-button{
  background:#09f;
  border:1px solid #007fff;
  box-shadow:0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 transparent;
  color:#fff;
  cursor:pointer;
  font-weight:700;
  padding:10px;
  text-shadow:1px 1px 0 rgba(0,0,0,.4);
  text-transform:uppercase;width:30%
}

.sidebar-subscribe-box-email-button:hover,.sidebar-subscribe-box-email-button:focus{
  background:#1ca4ff
}

.sidebar-subscribe-box-email-button:active{
  -moz-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;outline:0
}

iframe,object,embed,.yt-border iframe,.yt-border object,.yt-border embed,table{
  width:100%
}

embed{
  border-radius:3px;
  -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);
  background:#FFF;border:1px solid #ddd;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
  margin:0;
  padding:4px 4px 4px
}

#footer-section{
  background:#f5f5f5 url(https://1.bp.blogspot.com/-n5s9Bu0JCgg/UA_AfQ5qLkI/AAAAAAAAFMU/G9FOuh4SP7k/s0/bg-pattern.png) repeat top left;
  border-top:1px solid #aaa;
  box-shadow:inset 0 4px 6px -3px #aaa;
  font-size:18px;
  height:100px;
  margin:10px -30px 5px;
  padding:0 30px;
  text-align:center;
  width:100%
}