.a-nav{
	display: inline-block;
	text-align: center!important;
	width: 100%;
	padding: 15px;
	background-color: $rojo;
	margin: 0;
}
.a-nav__item{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 15px;
	padding-right: 50px;
	color: $blanco;
	i{
		padding-right: 10px;
	}
	img{
		position: absolute;
		border-radius: 70px;
		border: 5px solid $blanco;
		width: 40px;
		height: 40px;
		top: 5px;
		left: 300px;
	}
}
.a-nav__item__link{
	color: $blanco;
	text-decoration: none;
	&:hover{
		background-color: $azul;
		border-radius: 14px;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.contenido{
	background-color: $azul;
	height: 100vh;
	padding-top: 50px;
	.contenido__texto{
		width: 50%;
	    margin: 50px auto;
	    border-radius: 10px;
	    padding: 0px;
	    box-sizing: border-box;
	    margin-right: 0px;
	    margin-top: -200px;
	    h2{
	    	color: $verde;
	    }
	    h3{
	    	color: $blanco;
	    }
	    p{
	    	color: $blanco;
	    	margin-right: 220px;
	    }
	    button{
	    	background-color: $verde;
	    	color: $blanco;
	    	padding: 10px;
	    	padding-left: 20px;
	    	padding-right: 20px;
	    	border-radius: 12px;
	    	border: none;
	    	cursor: pointer;
	    	i{
	    		padding-right: 20px;
	    	}
	    }
	}
	.contenido__imagen{
		width: 200px;
		height: 200px;
		margin-left: 400px;
		background-color: $blanco;
		border-radius: 50%;
		h1{
			margin: 0;
			color: $azul;
			padding-left: 55px;
			padding-top: 70px;
			font-size: 40px;
		}
	}
	.redes{
		text-align: center;
		i{
			color: $blanco;
			margin: 5px;
			cursor: pointer;
		}
		.fa-facebook{
			background-color: $facebook;
			padding: 5px 9px;
		}
		.fa-twitter{
			background-color: $twitter;
			padding: 5px 5px;
		}
		.fa-google-plus{
			background-color: $google;
			padding: 5px 3px;
		}
		.fa-pinterest{
			background-color: $pinterest;
			padding: 5px 6px;
		}
		.fa-stumbleupon{
			background-color: $stumbleupon;
			padding: 5px 5px;
		}
		.fa-dribbble{
			background-color: $dribbble;
			padding: 5px 7px;
		}

	}
}
